.experiment-item {
    .created-at {
        margin-right:20px;
    }
}

.experiment-details {
    .experiment-name {
        display: inline-block;
        margin-right: $margin*2;
    }
    .experiment-created-at {
        display: inline-block;
    }
}

.remove {
    color: #B5333B;
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;

    &:hover, &:active {
        color: darken(#B5333B, 30%);
    }
}