<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>App</title>
        <meta name="description" content="App">
        <meta name="author" content="Dries">

        <link rel="stylesheet" href="./css/app.css">
        <link rel="stylesheet" href="./css/vendor.css">
        <script src="https://maps.googleapis.com/maps/api/js"></script>
    </head>

    <body>
        <div id="container">
        </div>
        <script type="text/template" id="experiment-details-template">
            <div class="experiment-details">
                <div class="row">
                    <div class="eight columns">
                        <h2 class="experiment-name"><%- name %></h2>
                        <h6 class="experiment-created-at"><%- created_at_formatted() %></h6>
                    </div>
                    <div class="four columns">
                        <a class="button button-primary" href="/api/experiments/<%- _id %>/locations/csv" target="_blank">Export csv</a>
                        <a class="button" href="/#/experiments">⬅ back</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="six columns">
                        <h5>Recorded locations</h5>
                        <table class="u-full-width">
                            <thead>
                                <tr>
                                    <td><strong>Time</strong></td>
                                    <td><strong>Latitude</strong></td>
                                    <td><strong>Longitude</strong></td>
                                    <td><strong>Remove</strong></td>
                                </tr>
                            </thead>
                            <tbody id="location-list"></tbody>
                        </table>
                    </div>
                    <div class="six columns">
                        <h5>Map</h5>
                        <div id="google-map"></div>
                    </div>
                <div>
        
            </div>
        
        </script>
        <script type="text/template" id="experiment-item-template">
        
            <div class="experiment-item">
                <span class="created-at"><%- created_at_formatted() %></span>
                <a href="<%- routerUrl() %>">
                    <span class="name"><%- name %></span>
                </a>
                <span class="remove">×</span>
            </div>
        
        </script>
        <script type="text/template" id="experiment-overview-template">
        
            <div>
                <h2>Experiments</h2>
                <hr>
                <ul id="experiment-list"></ul>
            </div>
        
        </script>
        <script type="text/template" id="location-item-template">
        
            <td><%- created_at_formatted_time() %></td>
            <td><%- latitude %></td>
            <td><%- longitude %></td>
            <td><span class="remove">×</span></td>
        </script>

        <script src="./js/thirdparty.js"></script>
        <script src="./js/app.js"></script>
    </body>
</html>